.git
.git_backup/
node_modules/
.idea/
.vscode
docs
build
public
src
types
.editorconfig
.eslintignore
.eslintrc
.gitignore
.prettierignore
.prettierrc
jsdoc.json
tsconfig.json
tslint.json
webpack.config.js